<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password</title>
<style>
    #pswrd {

            display: inline-block;
            margin-top: 10%;
            margin-left: 58%;
            padding-top: 30px;
            padding: 75px;
        }

        .btn {
            margin: 15px;
            padding: 13px;
            border-radius: 10px;
        }


        input {
            padding: 17px;
            border-radius: 12px;
        }
</style>
</head>
<body>
    <div id="pswrd">
        <h1>Create User Password </h1>
        {% if messages %}
        <!-- <ul class="messages"> -->
        <div class="alert alert-success success_msg" id="success_alert">
          {% for message in messages %}


          {{ message }}

          {% endfor %}
        </div>
        <!-- </ul> -->
        {% endif %}
        <form method="post" novalidate="" id="otp-form" class="otp-form">
            {% csrf_token %}
        <input type="hidden" name="auth_user_id", id="auth_user_id" value="{{ auth_user_id }}">
        <label for="">Create Passwrod : </label>
    <input type="password" name="password" id="password" placeholder="Create Password"> <br>
    <label for="">Confirm Password : </label>
    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Created Password"> <br>
    <button class="btn">submit</button>
    </form>
    </div>
</body>
</html>